.hero {
  min-height: 100vh;
  height: auto;
  position: relative;
  overflow-x: hidden;
  padding-top: 35px;
  margin-bottom: 35px;
}

.hero-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  background: linear-gradient(135deg, #ff9a9e, #667eea, #667eea,
      /* bluish-purple */
      #764ba2,
      /* violet */
      #e1306c,
      /* pinkish-red */
      #f77737,
      /* orange */
      #ddc422,
      /* yellow */
      #fcb045, #fad0c4);
  background-size: 400% 400%;
  animation: gradientFlow 20s ease infinite;
  z-index: -1;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 5vw 0;
  gap: 50px;
  max-width: 1400px;
  margin: 0 auto;
}

.hero-left {
  flex: 1;
  max-width: 800px;
}

.hero-right {
  display: flex;
  justify-content: center;
}

.hero img {
  width: 60vh;
  height: 58vh;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid rgba(255, 255, 255, 0.3);
}

.hero-content h1 {
  font-size: clamp(40px, 5.5vw, 100px);
  font-weight: 550;
  color: white;
  font-family: "Lora", serif;
  line-height: 1.1;
}

.hero-left h3 {
  font-size: 30px;
  font-weight: 300;
  color: white;
  margin-bottom: 10px;

}

.hero-left h2 {
  font-size: clamp(34px, 3vw, 45px);
  font-weight: 900;
  color: #131d4b;
  margin-top: 10px;
}

.hero-left p {
  font-size: 25px;
  line-height: 1.5;
}

.hero-buttons {
  margin-top: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.hero-buttons button {
  font-size: 20px;
  font-weight: 600;
  padding: 18px;
  width: 220px;
  border-radius: 15px;
  background: linear-gradient(135deg, white);
  color: black;
  cursor: pointer;
  border: 2px solid rgba(193, 38, 64, 0.627);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Make one button filled by default (Optional - looks better) */
.hero-buttons a:first-child button {
  background: linear-gradient(135deg, #f77737, #e1306c);
  color: white;
  border: none;
}

/* Tablets (≤ 1024px) */
@media (max-width: 1300px) {
  .hero-content {
    flex-direction: column-reverse;
    text-align: center;
    padding-top: 50px;
    gap: 30px;
  }

  .hero-gradient {
    width: 100%;
    left: 0;
  }

  .hero img {
    margin-top: 30px;
    width: 60vh;
    height: 60vh;
  }

  .hero-content h1 {
    font-size: 65px;
    color:var(--text-main);
  }

  .hero-content h3 {
    color:var(--text-main);
    font-size: 35px;
    text-align: center;
  }

  .hero-left h2 {
    font-size: 35px;
    color: var(--text-secondary);
  }

  .hero-left p {
    font-size: 28px;
  }

  .hero-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 10px;
  }

  .hero-buttons a {
    display: flex;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    border: none;
  }

  .hero-buttons button {
    width: 70%;
    max-width: 300px;
    font-size: 20px;
    margin: 0;
    display: block;
  }
  .hero-buttons a:first-child button {
    border: none !important;
  }
}

@media (max-width: 770px) {
  .hero img {
    margin-top: 30px;
    width: 50vh;
    height: 50vh;
  }

  .hero-left p {
    font-size: 25px;
  }
}

@media (max-width: 500px) {
  .hero img {
    margin-top: 30px;
    width: 45vh;
    height: 45vh;
  }

  .hero-content h1 {
    font-size: 60px;
  }

  .hero-content h3 {
    font-size: 30px;
  }

  .hero-left h2 {
    font-size: 35px;
  }

  .hero-left p {
    font-size: 26px;
  }

  .hero-gradient {
   height: 63vh;
  }
}