.aboutme {
    min-height: 100vh;
    background-color: #F6F9FC;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-title {
    margin-bottom: 4vh;
    margin: 0 6vw;
    text-align: center;
}

.about-title img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.about-title h1 {
    font-family: "Lora", serif;
    font-size: 50px;
}

.about-section {
    margin: 6vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about-left img {
    width: 450px;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.about-right p {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
}

/* Tablets (≤ 1024px) */
@media (max-width: 1300px) {
  .about-section {
    flex-direction: column;
    margin-top: 0;
    gap: 10px;
}
.about-title h1 {
    font-size: 70px;
}
.about-left img {
    display: block;
    margin: 0 auto;
    width: 350px;
}
.about-right p {
    font-size: 18px;
    font-weight: 350;
    text-align: justify;
    margin-top: 20px;
}
}